[submodule "MakerClone/lib/forge-std"]
	path = MakerClone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Uniswapv2Clone/lib/forge-std"]
	path = Uniswapv2Clone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MakerClone/lib/openzeppelin-contracts"]
	path = MakerClone/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "MakerClone/lib/foundry-chainlink-toolkit"]
	path = MakerClone/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
