[submodule "MakerClone/lib/forge-std"]
	path = MakerClone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Uniswapv2Clone/lib/forge-std"]
	path = Uniswapv2Clone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
